body{
  background-color: #D6DDED;
}
/* fonts style */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Header */
.header {
  background-image: url('../Assets/Hero-bg.png');
  max-width: 1440px;
  height: 700px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  margin-bottom: 100px;
}

.nav-logo {
  font-size: 34px;
  font-weight: bold;
  color: #4E47FF;
  margin-left: 150px;
}

.nav-btn {
  font-size: 16px;
  font-weight: bold;
  background-color: #4E47FF;
  border: none;
  color: white;
  border-radius: 7px;
  padding: 10px 20px;
  margin-right: 150px;
}

.header-section {
  display: flex;
  flex-direction: column;
  gap: 37px;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
}

.header-section-title {
  font-size: 65px;
  font-weight: bold;
  max-width: 905px;
  text-align: center;
  align-items: center;
  color: #252432;
}

.header-section-btn {
  background-color: #4E47FF;
  color: white;
  border: none;
  border-radius: 10px;
  max-width: 174px;
  height: 48px;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: bold;

}

/* action styles */
.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 116px 155px;
}

.action-left-side {
  width: 517px;
}

.action-title {
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 10px;
}

.action-description {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 400px;
  color: #25243280;
  padding-right: 60px;
}

.action-btn {
  background-color: #4E47FF;
  width: 229px;
  height: 48px;
  border: none;
  border-radius: 10px;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.action-img {
  width: 403px;
  height: 328px;
  border-radius: 48px;
}

/* user-section styles */
.user-section {
  padding: 30px 80px;
  background-color: #4E47FF1A;
  max-width: 1140px;
  height: 306px;
  border-radius: 24px;
  margin: 116px auto;
  display: flex;
  align-items: center;
}

.user-quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 50px auto;
}

.user-quantity-title {
  font-size: 38px;
  padding: 1px 60px;
  font-weight: bold;
  color: #252432;
}

.visitors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 170px;
}

.type {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.quantity {
  color: #4E47FF;
  font-size: 80px;
  font-weight: bold;
}

.user-type {
  color: #00000080;
}

/* user-review-section styles*/
.user-review-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;

}

.user-review-title {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 50px;
}

.user-reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 0px auto;
}

.user-cards {
  display: flex;
  flex-direction: column;
  height: 240px;
  background-color: #FFFFFF;
  padding-left: 15px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  border-radius: 14px;
}

.stars {
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.designer {
  color: #1E1E1E;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.designer-description {
  color: #1E1E1E;
  font-size: 16px;
  max-width: 310px;
}

.user-profile {
  display: flex;
  margin-top: 30px;
  gap: 15px;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  display: block;

  overflow: hidden;
}

.avatar {
  border-radius: 50%;
}

.reviewer-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  color: #757575;
}

.date {
  color: #B3B3B3;
}

/* webflow conf2022 styles */
.banner-webflow {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 110px auto;
  padding: 70px 150px;
}

.banner-title {
  font-size: 50px;
  font-weight: bold;
}

.banner-description {
  color: #00000080;
}

.get-started-btn {
  background-color: #4E47FF;
  padding: 12px 30px;
  border: none;
  border-radius: 10px;
}

.wcbig {
  max-width: 840px;
  height: 364px;
  border-radius: 48px;
}

/* form-section styles */
form {
  outline: none;
  border: none;
}

fieldset {
  outline: none;
  border: none;
}
label{

  color: #000000;
  font-size: 18px;
  font-weight: bold;
}
input{
  border: none;
  background-color: #FFFFFF;
  color: #00000080;
  height: 45px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}
textarea{
  border: none;
}
::placeholder{
  padding: 10px;
}
.form-section {
  background-color: #D6DDED;
  display: flex;
  max-width: 1140px;
  height: 632px;
  justify-content: space-between;
  align-items: center;
  margin: 20px 150px;
  
}

.form-title {
  font-size: 97px;
  font-weight: bold;
  max-width: 528px;
}

.form-field {
  margin-right: -15px;
  height: 490px;
  width: 497px;
}

.form-fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 70px;
  margin-bottom: 70px;
}
.input-btn{
  background-color: #4E47FF;
  color: white;
}